body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #69624e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.product-section {
    text-align: center;
    padding: 20px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
}

.product img {
    width: 100%;
}

button {
    background-color: #775f3a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #b49980;
}

footer {
    background-color: #25190d;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

